/******* HEADING COLORS *******/
.markdown-preview-view h1,
.cm-header-1
{
  color: #DC143C;
}

.markdown-preview-view h2,
.cm-header-2
{
  color: #CD5C5C;
}

.markdown-preview-view h3,
.cm-header-3
{
  color: #FF8888;
}

.markdown-preview-view h4,
.cm-header-4
{
  color: #32D6CA
}

.markdown-preview-view h5,
.cm-header-5
{
  color: #CAE317;
}

.markdown-preview-view h6,
.cm-header-6
{
  color: #FF8888;
}