div[data-path='Resources'], 
div[data-path='Resources'] + div.nav-folder-children 
{
    display: none;
}

div[data-path='Templates'], 
div[data-path='Templates'] + div.nav-folder-children 
{
    display: none;
}

div[data-path='House Rules'], 
div[data-path='House Rules'] + div.nav-folder-children 
{
    display: none;
}